* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	height: 300px;
	width: 400px;
	background: #6592cf;
}

.a {
	height: 250px;
	width: 250px;
	position: absolute;
	background: #243d83;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.b {
	height: 150px;
	width: 150px;
	position: absolute;
	background: #6592cf;
	top: 75px;
	left: 125px;
	transform: rotate(15deg);
}

.c {
	height: 75px;
	width: 75px;
	position: absolute;
	background: #243d83;
	top: 112.5px;
	left: 162.5px;
	transform: rotate(30deg);
}
